# Ignore Python virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore IDE files (e.g., PyCharm, VSCode)
.vscode/
.idea/

# Ignore log files
*.log

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
backend/.env
backend/password.js
backend/machine_learning_model/dataset/combined_activities.csv
backend/machine_learning_model/dataset/combined_activities.csv
